@model  List<BookedRoomsModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Total Earnings:</h1>

@{
    foreach(var room in @Model)
    {
        <div style="margin:30px; background-color:lightgray">
        <h1>Room number: @room.RoomNumber</h1>
        <p>Owner: @room.OwnerEmail</p>
        <p>Start at: @room.StartDate</p>
        <p>End at: @room.EndDate</p>
        <p>Price: @room.Price$</p>
        </div>
    }
}

